# Importing and fixing data format

This notebook imports and fix the data format to an easy working flow for python code and data understanding

In [1]:
#LOADS LIBRARIES
import os
import sys
import warnings
warnings.simplefilter('ignore')
import pickle
#import dill as pickle

import numpy as np
import pandas as pd
import math

import time 
import datetime
from dateutil.relativedelta import relativedelta

In [2]:
os.getcwd()

'C:\\Users\\willi\\Documents\\EJERCICIOS\\Vehicular_flow\\Vehicular_flow'

In [3]:
INPUT_DIR = os.getcwd() + '/data/'
OUTPUT_DIR = os.getcwd() + '/results/'

# Importing the data

In [5]:

FILE_NAME = 'flujo-vehicular-por-radares-2021.csv'
df_input = pd.read_csv(INPUT_DIR + FILE_NAME, encoding='latin-1', sep=',', dtype='str')

print(df_input.shape)
print(df_input)

(261245, 10)
       Mes, DÃ­a, AÃ±o de H_Fecha H_Hora     Aut Nombre    Disp Nombre  \
0                        01/01/21    0.0  AU 4  Lugones     RD171 Esma
1                        01/01/21    1.0  AU 4  Lugones     RD171 Esma
2                        01/01/21    2.0  AU 4  Lugones     RD171 Esma
3                        01/01/21    3.0  AU 4  Lugones     RD171 Esma
4                        01/01/21    4.0  AU 4  Lugones     RD171 Esma
...                           ...    ...            ...            ...
261240                 31/12/2021    NaN  AU Dellepiane  RD111 Ramal 9
261241                 31/12/2021    NaN  AU Dellepiane  RD111 Ramal 9
261242                 31/12/2021    NaN  AU Dellepiane  RD111 Ramal 9
261243                 31/12/2021    NaN  AU Dellepiane  RD111 Ramal 9
261244                 31/12/2021    NaN  AU Dellepiane  RD111 Ramal 9

       Disp Ubicacion Seccion Sentido   Disp Lat             Disp Lng  \
0                 9.9               A        NaN  -58.459669999999996
1                 9.9               A        NaN  -58.459669999999996
2                 9.9               A        NaN  -58.459669999999996
3                 9.9               A        NaN  -58.459669999999996
4                 9.9               A        NaN  -58.459669999999996
...               ...             ...        ...                  ...
261240           0.18               B  -34.65061            -58.46677
261241           0.18               B  -34.65061            -58.46677
261242           0.18               B  -34.65061            -58.46677
261243           0.18               B  -34.65061            -58.46677
261244           0.18               B  -34.65061            -58.46677

       H_Cant_Veh Hora de H_Fecha
0             943             NaN
1            3946             NaN
2            4662             NaN
3            2486             NaN
4            1268             NaN
...           ...             ...
261240        518            19.0
261241        440            20.0
261242        360            21.0
261243        176            22.0
261244         62            23.0

[261245 rows x 10 columns]

In [6]:
df_input.columns.tolist()

['Mes, DÃ\xada, AÃ±o de H_Fecha',
 'H_Hora',
 'Aut Nombre',
 'Disp Nombre',
 'Disp Ubicacion',
 'Seccion Sentido',
 'Disp Lat',
 'Disp Lng',
 'H_Cant_Veh',
 'Hora de H_Fecha']

In [7]:
df_raw = df_input.copy()
print(df_raw.shape)

(261245, 10)

# Adjusting the formats of the data

In [8]:
#ADJUSTS VARIABLE NAMES

df_input = df_raw.copy()

D_COLS_01 = df_input.dtypes.reset_index()['index']

D_COLS =[]
D_VARS = {}
for x in D_COLS_01:
    D_NAME = x.strip().lower()
    D_NAME = D_NAME.replace(" ", '_')
    D_NAME = D_NAME.replace(".", '')
    D_NAME = D_NAME.replace("�", '')
    D_NAME = D_NAME.replace("-", '_')
    D_NAME = D_NAME.replace("/", '_')
    
    ls_dupnames = [x for x in D_COLS if D_NAME in x]
    if len(ls_dupnames)>0:
        D_NAME = D_NAME + '_' + str(len(ls_dupnames))
        
    
    d = {D_NAME:str}
    D_VARS.update(d)
    
    D_COLS.append(D_NAME)


df_input.columns = D_VARS

df_raw_01 = df_input.copy()

i = 0
for c in df_raw_01.columns.tolist():
    i = i +1
    print(i, '-', c)

1 - mes,_dã­a,_aã±o_de_h_fecha
2 - h_hora
3 - aut_nombre
4 - disp_nombre
5 - disp_ubicacion
6 - seccion_sentido
7 - disp_lat
8 - disp_lng
9 - h_cant_veh
10 - hora_de_h_fecha

In [9]:
df_informats = df_raw_01.dtypes.reset_index()
df_informats = df_informats[df_informats[0]!='object']

df_informats

Empty DataFrame
Columns: [index, 0]
Index: []

In [11]:
# Defines the main formats of the variables

LS_NUMVAR = [
    'h_hora',
    'disp_ubicacion',
    'disp_lat',
    'disp_lng',
    'h_cant_veh',
    'hora_de_h_fecha'
]

LS_CATVAR = [
    'mes,_dã­a,_aã±o_de_h_fecha',
    'aut_nombre',
    'disp_nombre',
    'seccion_sentido',
]

In [12]:
# TRANSFORMS CATEGORICAL VARIABLES

df_input = df_raw_01.copy() 

def convertscat(x):
    try:
        y = round(x) #IF THE CATEGORY LOOK LIKE A NUMBER, BETTER ROUND IT
        y = str(y).strip() 
    except:
        try:
            y = str(x).upper().strip() #THE CATEGORY IS TRANSFORMED ONTO UPCASE AND REMOVED THE BLANK TAILS
        except:
            y = np.nan #PUT A NAN IN CASE OF NOT CONVERSION
    return y


for s in LS_CATVAR:
    CATVAR = df_input[s].apply(lambda x: convertscat(x))
    df_input = df_input.drop(columns=[s])
    df_input[s] = CATVAR.astype(str)
    
    print('Variable transformed: ' + str(s))

df_raw_02 = df_input.copy()
del(df_input)

print('\n')
print(df_raw_02.shape)
print('\n')
print(df_raw_02.dtypes)
print('\n')
df_raw_02[LS_CATVAR].head(10)

Variable transformed: mes,_dã­a,_aã±o_de_h_fecha
Variable transformed: aut_nombre
Variable transformed: disp_nombre
Variable transformed: seccion_sentido


(261245, 10)


h_hora                        object
disp_ubicacion                object
disp_lat                      object
disp_lng                      object
h_cant_veh                    object
hora_de_h_fecha               object
mes,_dã­a,_aã±o_de_h_fecha    object
aut_nombre                    object
disp_nombre                   object
seccion_sentido               object
dtype: object

  mes,_dã­a,_aã±o_de_h_fecha     aut_nombre disp_nombre seccion_sentido
0                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
1                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
2                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
3                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
4                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
5                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
6                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
7                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
8                   01/01/21  AU 4  LUGONES  RD171 ESMA               A
9                   01/01/21  AU 4  LUGONES  RD171 ESMA               A

In [13]:
#TRANSFORMS NUMERICAL VARIABLES

df_input = df_raw_02.copy() 

def converts(x):
    try:
        y = str(x)                  #FIRST THE VARIABLES IS LOOK AS STRING
        y = y.replace("$", '')      #REMOVES THE $ SIMBOL
        y = y.replace(",", '.')     #Replace the , for . (depends of the numeric format of origin)
        #y = y.replace(",", '')     #Replace the , for '' (depends of the numeric format of origin)
        y = float(y)                # Converts to float
    except:
        y = np.nan
    return y


for s in LS_NUMVAR:
    NUMVAR = df_input[s].apply(lambda x: converts(x))
    df_input = df_input.drop(columns=[s])
    df_input[s] = NUMVAR.astype(float)
    
    
    
    print('Variable transformed: ' + str(s))

df_raw_03 = df_input.copy()
del(df_input)

print('\n')
print(df_raw_03.shape)
print('\n')
print(df_raw_03.dtypes)
print('\n')
df_raw_03[LS_NUMVAR].head(10)

Variable transformed: h_hora
Variable transformed: disp_ubicacion
Variable transformed: disp_lat
Variable transformed: disp_lng
Variable transformed: h_cant_veh
Variable transformed: hora_de_h_fecha


(261245, 10)


mes,_dã­a,_aã±o_de_h_fecha     object
aut_nombre                     object
disp_nombre                    object
seccion_sentido                object
h_hora                        float64
disp_ubicacion                float64
disp_lat                      float64
disp_lng                      float64
h_cant_veh                    float64
hora_de_h_fecha               float64
dtype: object

   h_hora  disp_ubicacion  disp_lat  disp_lng  h_cant_veh  hora_de_h_fecha
0     0.0             9.9       NaN -58.45967       943.0              NaN
1     1.0             9.9       NaN -58.45967      3946.0              NaN
2     2.0             9.9       NaN -58.45967      4662.0              NaN
3     3.0             9.9       NaN -58.45967      2486.0              NaN
4     4.0             9.9       NaN -58.45967      1268.0              NaN
5     5.0             9.9       NaN -58.45967      1195.0              NaN
6     6.0             9.9       NaN -58.45967      1092.0              NaN
7     7.0             9.9       NaN -58.45967       984.0              NaN
8     8.0             9.9       NaN -58.45967       719.0              NaN
9     9.0             9.9       NaN -58.45967       844.0              NaN

In [14]:
#VERIFIES THE NUMERICAL CONVERSION 

DF_INPUT = df_raw_03.copy()
DF_INPUT2 = df_raw_02.copy()

for c in LS_NUMVAR:
    print(DF_INPUT[c].value_counts(dropna=False).reset_index().sort_values([c],ascending = False))
    print(DF_INPUT2[c].value_counts(dropna=False).reset_index().sort_values([c],ascending = False))

    index  h_hora
0     NaN   22017
1    12.0    9982
2     0.0    9980
3    15.0    9980
4     1.0    9978
5    14.0    9977
6    22.0    9975
7    21.0    9973
8    20.0    9971
9    16.0    9971
10    4.0    9969
12   13.0    9968
11   18.0    9968
13   11.0    9967
14    5.0    9967
15   17.0    9966
16   19.0    9966
17    7.0    9966
18    6.0    9966
19   23.0    9966
20    8.0    9964
21    9.0    9956
22   10.0    9952
23    3.0    9950
24    2.0    9950
   index  h_hora
0    NaN   22017
1   12.0    9982
2    0.0    9980
3   15.0    9980
4    1.0    9978
5   14.0    9977
6   22.0    9975
7   21.0    9973
8   20.0    9971
9   16.0    9971
10   4.0    9969
12  13.0    9968
11  18.0    9968
13  11.0    9967
14   5.0    9967
15  17.0    9966
16  19.0    9966
17   7.0    9966
18   6.0    9966
19  23.0    9966
20   8.0    9964
21   9.0    9956
22  10.0    9952
23   3.0    9950
24   2.0    9950
    index  disp_ubicacion
0    2.10           17406
1    2.43           17384
2    0.16           17259
3    4.30           16619
4    0.40           16560
5    1.05           16223
6    9.90           15737
7    3.88           14826
8    1.00           12786
9    3.57            9849
10   0.18            8826
11   7.40            8816
13   1.63            8775
12   5.50            8775
14   1.45            8750
15   4.74            8738
16   1.16            8731
17   7.20            8481
18   8.68            8324
19   8.11            8004
20   8.45            7986
21   8.70            7683
22   4.60            2911
23   3.26            1092
24   0.00             704
   index  disp_ubicacion
0   3.88            8880
1   2,43            8780
2    2.1            8764
3    0,4            8692
4    2,1            8642
5   0.16            8638
6   0,16            8621
7   2.43            8604
8    4,3            8484
9    9.9            8387
10  1,05            8177
11   4.3            8135
12  1.05            8046
13   0.4            7868
14   9,9            7350
15     1            6952
16  3,88            5946
17   1.0            5834
18  3.57            4989
19  3,57            4860
20  0.18            4439
21  4.74            4437
22   7.4            4426
24  1.16            4399
23  1.63            4399
25   5,5            4392
26   7,4            4390
27  1,45            4390
28  0,18            4387
29   5.5            4383
30  1,63            4376
31  1.45            4360
32  8.68            4333
33  1,16            4332
34  4,74            4301
35   7.2            4260
36   7,2            4221
37  8.45            4177
38   8.7            4123
39  8.11            4118
40  8,68            3991
41  8,11            3886
42  8,45            3809
43   8,7            3560
44   4,6            2170
45  3,26            1092
46   4.6             741
47   0.0             692
48     0              12
       index  disp_lat
0        NaN     22663
1  -34.63260     15976
2  -34.66990     15930
3  -34.68411     15072
4  -34.65465     13338
5  -34.67917     11298
6  -34.62277      9033
7  -34.65061      8082
8  -34.56044      8054
9  -34.64076      8046
10 -34.63898      8031
11 -34.64358      8022
12 -34.63940      7987
13 -34.65136      7898
14 -34.54977      7758
15 -34.54293      7580
16 -34.54629      7336
17 -34.53767      7268
18 -34.53709      7132
19 -34.54230      6941
20 -34.56336      5880
21 -34.65134      5810
22 -34.65288      5219
23 -34.54778      5121
24 -34.65134      5036
25 -34.65369      4306
26 -34.54362      4283
27 -34.64357      3802
28 -34.54362      2965
29 -34.54778      2951
30 -34.64357      2911
31 -34.65369      2847
32 -34.65288      2759
33 -34.56336      2114
34 -34.66044      1092
35 -34.67214       704
        index  disp_lat
0         NaN     22663
1    -34.6699     13124
2    -34.6326     13048
3   -34.68411     12232
4   -34.65465     10410
..        ...       ...
57  -34.65369      1396
58   -34,5423      1260
59  -34,67917      1130
60  -34.66044      1092
61  -34.67214       704

[62 rows x 2 columns]
       index  disp_lng
0        NaN     22663
1  -58.48264     15072
2  -58.46901     13338
3  -58.47959     11298
4  -58.37861     10200
5  -58.47536     10104
6  -58.37825      9033
7  -58.46677      8082
8  -58.37695      8031
9  -58.41529      7994
10 -58.37635      7987
11 -58.37255      7935
12 -58.44640      7248
13 -58.45916      7132
14 -58.44869      6941
15 -58.37568      6713
16 -58.47536      5826
17 -58.37861      5776
18 -58.46818      5219
19 -58.37266      5136
20 -58.37651      5134
21 -58.37592      5111
22 -58.44901      4741
23 -58.45967      4469
24 -58.43602      4390
25 -58.46812      4306
26 -58.41908      4179
27 -58.41908      3875
28 -58.43848      3670
29 -58.43602      3368
30 -58.44224      3157
31 -58.43848      2938
32 -58.37651      2912
34 -58.46643      2911
33 -58.37592      2911
35 -58.46812      2847
36 -58.44901      2839
37 -58.45967      2799
38 -58.37266      2762
39 -58.46818      2759
40 -58.44224      2715
41 -58.44224      1464
42 -58.43848      1464
43 -58.47124      1092
44 -58.43852       704
        index  disp_lng
0         NaN     22663
1   -58.48264     12232
2   -58.46901     10410
3   -58.47959     10168
4   -58.37825      7496
..        ...       ...
66  -58.46812      1396
67  -58,44869      1260
68  -58,47959      1130
69  -58.47124      1092
70  -58.43852       704

[71 rows x 2 columns]
       index  h_cant_veh
0        0.0        1692
2      114.0         179
1       96.0         179
3      142.0         178
4      118.0         177
...      ...         ...
9000  8442.0           1
8999  9464.0           1
8998  8557.0           1
8997  7932.0           1
9305  8333.0           1

[9306 rows x 2 columns]
     index  h_cant_veh
0        0        1692
2      114         179
1       96         179
3      142         178
4      118         177
...    ...         ...
9000  8442           1
8999  9464           1
8998  8557           1
8997  7932           1
9305  8333           1

[9306 rows x 2 columns]
    index  hora_de_h_fecha
0     NaN           239228
2    17.0              920
1    18.0              920
3    22.0              919
4    21.0              919
5    16.0              919
11   20.0              918
15   14.0              918
14   13.0              918
13   12.0              918
12   19.0              918
10    6.0              918
9     4.0              918
8     3.0              918
7     2.0              918
6    15.0              918
16   23.0              917
17    0.0              917
18    8.0              917
19    7.0              917
20    1.0              917
21   10.0              914
22    9.0              914
23   11.0              914
24    5.0              913
   index  hora_de_h_fecha
0    NaN           239228
2   17.0              920
1   18.0              920
3   22.0              919
4   21.0              919
5   16.0              919
11  20.0              918
15  14.0              918
14  13.0              918
13  12.0              918
12  19.0              918
10   6.0              918
9    4.0              918
8    3.0              918
7    2.0              918
6   15.0              918
16  23.0              917
17   0.0              917
18   8.0              917
19   7.0              917
20   1.0              917
21  10.0              914
22   9.0              914
23  11.0              914
24   5.0              913

In [17]:
# Stablishes Date variables

D_DATEVARS = [
    'mes,_dã­a,_aã±o_de_h_fecha',
]

df_raw_03[D_DATEVARS]

       mes,_dã­a,_aã±o_de_h_fecha
0                        01/01/21
1                        01/01/21
2                        01/01/21
3                        01/01/21
4                        01/01/21
...                           ...
261240                 31/12/2021
261241                 31/12/2021
261242                 31/12/2021
261243                 31/12/2021
261244                 31/12/2021

[261245 rows x 1 columns]

In [28]:
#FIXING DATE VARIABLES

df_input = df_raw_03.copy()


def validdate(x,v):
    
    try:
        x1 = x[v][0:10].strip()
    except:
        x1 = None
        
    y1 = None
        
    if len(x1)==8:
        try:
            year = int(x1[6:8])
            if year <= 21:
                y1 = datetime.date(2000 + int(x1[6:8]),int(x1[3:5]),int(x1[0:2]))
            else:
                y1 = datetime.date(1900 + int(x1[6:8]),int(x1[3:5]),int(x1[0:2]))
        except:
            y1 = None
            
    if len(x1)==10:
        try:
            y1 = datetime.date(int(x1[6:10]),int(x1[3:5]),int(x1[0:2]))
        except:
            y1 = None
    return y1


for s in D_DATEVARS:
    
    DF_DATE = df_input.apply(lambda x: validdate(x,s),axis=1)
    DF_DATE = pd.DataFrame(pd.to_datetime(DF_DATE, errors='coerce'))
    
    DS_INPUT = df_input.drop(columns=[s])
    df_input[s] = DF_DATE
    
    print('Variable transformed: ' + str(s)) 

    
df_raw_05 = df_input.copy()
del(df_input)

Variable transformed: mes,_dã­a,_aã±o_de_h_fecha

In [29]:
df_raw_05[D_DATEVARS]

       mes,_dã­a,_aã±o_de_h_fecha
0                      2021-01-01
1                      2021-01-01
2                      2021-01-01
3                      2021-01-01
4                      2021-01-01
...                           ...
261240                 2021-12-31
261241                 2021-12-31
261242                 2021-12-31
261243                 2021-12-31
261244                 2021-12-31

[261245 rows x 1 columns]

In [30]:
print(df_raw_05['mes,_dã­a,_aã±o_de_h_fecha'].value_counts(dropna=False).reset_index().sort_values(['index'],ascending = False))

         index  mes,_dã­a,_aã±o_de_h_fecha
125 2021-12-31                         720
116 2021-12-30                         729
109 2021-12-29                         736
107 2021-12-28                         738
118 2021-12-27                         727
..         ...                         ...
16  2021-01-04                        1488
15  2021-01-03                        1488
19  2021-01-02                        1488
12  2021-01-01                        1488
0          NaT                       12444

[320 rows x 2 columns]

In [31]:
#REPORTS THE FINAL FORMAT FOR THE VARIABLES
df_input = df_raw_05.copy()

DF_FCOLUMNS = df_input.dtypes.reset_index()
DF_FCOLUMNS = DF_FCOLUMNS.rename(columns={'index':'INPUT_VAR',0:'MANDATORY_FORMAT'})

#Final number of numerical and categorical variables

Q_NUMVARS = len(DF_FCOLUMNS[DF_FCOLUMNS['MANDATORY_FORMAT'].astype(str).str.contains('float|int')])
Q_CATARS = len(DF_FCOLUMNS[DF_FCOLUMNS['MANDATORY_FORMAT'].astype(str).str.contains('float|int')==False])
Q_DATEARS = len(DF_FCOLUMNS[DF_FCOLUMNS['MANDATORY_FORMAT'].astype(str).str.contains('date')])

print('Number of Suggested Numerical Variables: ' + str(Q_NUMVARS))   
print('Number of Suggested Categorical Variables: ' + str(Q_CATARS))
print('Number of Final Date Variables: ' + str(Q_DATEARS))

Number of Suggested Numerical Variables: 6
Number of Suggested Categorical Variables: 4
Number of Final Date Variables: 1

In [32]:
# Data sumary

print(df_raw_05.shape)
print('\n')

i = 0
for c in df_raw_05.columns.tolist():
    i = i +1
    print(i, '-', c)

(261245, 10)


1 - mes,_dã­a,_aã±o_de_h_fecha
2 - aut_nombre
3 - disp_nombre
4 - seccion_sentido
5 - h_hora
6 - disp_ubicacion
7 - disp_lat
8 - disp_lng
9 - h_cant_veh
10 - hora_de_h_fecha

In [33]:
# Saving Point

df_raw_05.to_pickle(OUTPUT_DIR + 'df_vhf_s1.pkl')